body{
    margin: 0;
    font-size: 5rem;
}
.colores{
    color: rgb(133, 0, 18);
    color: rgb(133, 0, 18);
    color: rgb(133, 0, 18);
    color: rgb(133, 0, 18);
    color: rgb(133, 0, 18);
    color: rgb(133, 0, 18);
}
.contenedor-principal{
    background-color: #00434B;
    height: 100vh;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
}
.uno,
.contenedor-secundario{
    height: 100vh;
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}
.uno,
.dos,
.tres{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uno{
    background-color: rgb(133, 0, 18);
    background-image: url(../assets/carne_pinza.jpg);
}
.dos{
    background-color: rgb(181, 3, 27);
    background-image: url(../assets/t_bone.webp);
    height: 50%;
}
.tres{
    background-color: rgb(255, 0, 34);
    background-image: url(../assets/steak.jpg);
    height: 50%;
}